<% if request.get? %>
  <html>
    <form method="post">
      <input type="text" name="username" placeholder="xmarks username"/>
      <input type="password" name="password" placeholder="xmarks password"/>
      <input type="submit" value="Get My Bookmarks!"/>
    </form>
  </html>
<% else %>


<% end %>