<% if request.get? %>
  <html>
    <form method="post">
      <input type="text" name="username" placeholder="xmarks username"/>
      <input type="password" name="password" placeholder="xmarks password"/>
      <input type="submit" value="Get My Bookmarks!"/>
    </form>
  </html>
<% else
  require 'mechanize'
  require 'digest/md5'
  
  agent = Mechanize.new
  page = agent.get 'https://login.xmarks.com/'
  
  form = page.form
  form.username = params['username']
  form.password = params['password']
  form.passwordhash = Digest::MD5.hexdigest(params['password'])
  
  result = agent.submit form
%>  
  <%= params.inspect %>
  <%= result.uri %>
  <%= result.body %>
<% end %>