<html>
<head>
  <title>MyMarks</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
  <script src="/javascripts/jquery.url.js"></script>
  <script src="/javascripts/page.js"></script>
  <script>
    $(function(){
      new MM.page($('body'));
    });
  </script>
</head>

<body>
<div data-role="page" id="index">
  <div data-role="header">
    <h1>MyMarks</h1>
  </div>
  <div data-role="content">
    <form method="post" id="login">
      <input type="text" name="username" placeholder="XMarks username"/>
      <input type="password" name="password" placeholder="XMarks password"/>
      <input type="submit" value="Load My Bookmarks"/>
    </form>
  </div>
</div>

<div data-role="page" id="bookmarks">
  <div data-role="header">
    <a id="back_button" href="#index" class='ui-btn-left ui-btn-back' data-icon='arrow-l' data-transition="slide">Logout</a>
    <h1>MyMarks</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview" id="bookmark_list">
    </ul>
  </div>
</div>

</body>
</html>
