<html>
  <head>
    <title>MyMarks</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
  </head>

  <form method="post" id="login">
    <input type="text" name="username" placeholder="xmarks username"/>
    <input type="password" name="password" placeholder="xmarks password"/>
    <input type="submit" value="Get My Bookmarks!"/>
  </form>
</html>


<script>
  $('')
</script>
