<html>
<head>
  <title>MyMarks</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="apple-touch-icon" href="/favicon.ico"/>

  <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
  <style>
    #bookmark_list a{
      padding-left: 50px;
      background-repeat: no-repeat;
      background-position: 8px 5px;
      background-size: 32px 32px;
      height: 20px;
    }
    #bookmarks h1{
      float: right;
      margin-right: 0.5em;
    }
  </style>

  <% if ENV['RACK_ENV'] == 'production' %>
    <script>var AIRBRAKE_API_KEY = 'c762ddb25375fefc98d38f88b914659a';</script>
    <script src="/javascripts/vendor/airbrake.js"></script>
  <% end %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
  <script src="/javascripts/vendor/jquery.url.js"></script>
  <script src="/javascripts/extensions.js"></script>
  <script src="/javascripts/page.js"></script>
  <script>
    $(function(){
      new MM.page($('body'));
    });
  </script>
</head>

<body>
<div data-role="page" id="index">
  <div data-role="header">
    <h1>MyMarks</h1>
  </div>
  <div data-role="content">
    <form method="post" id="login">
      <input type="text" name="username" placeholder="XMarks username"/>
      <input type="password" name="password" placeholder="XMarks password"/>
      <input type="submit" value="Load My Bookmarks"/>
    </form>
  </div>
</div>

<div data-role="page" id="bookmarks">
  <div data-role="header">
    <a id="back_button" href="#index" class='ui-btn-left ui-btn-back' data-icon='arrow-l' data-transition="slide">Logout</a>
    <h1>MyMarks</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview" id="bookmark_list">
      <li>Waiting...</li>
    </ul>
  </div>
</div>

</body>
</html>
